*
{
    margin: 0;
    padding: 0;
    max-width: 1440px;
    margin: auto;
}
.navbar
{
    /* background-color: red; */
    width: 90%;
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-text
{
    display: flex;
    gap: 10px;
    align-items: center;
}
.logo{
    width: 50px;
}
.buttons
{
    display: flex;
    align-items: center;
    gap: 20px;
}
.but-1
{
    width: 144px;
    height: 45px;
    border-radius: 10px;
    border:none;
    color: #fff;
    background-color: rgb(0, 145, 255);
    font-weight: bold;
    cursor: pointer;
}
.but-1:hover
{
    border: 2px solid rgb(0, 145, 255);
    background-color: #fff;
    color: rgb(0, 145, 255);
    transition: all 1s ease;
    transform: translateY(-5px);
    box-shadow: 0px 1px 5px ;
}
.but-2
{
    width: 144px;
    height: 45px;
    border: none;
    border-bottom: 2px solid gray;
    cursor: pointer rgb(0, 145, 255);
    background-color: transparent;
}
.but-2:hover
{
    transform: translateY(-5px);
    border-color: black;
    box-shadow: 0px 1px 5px;
    transition: all 0.7s ease;
}
.search-box
{
    width: 250px;
    padding-top:10px;
    display: flex;
}
.search-box input
{
    border: none;
    outline: none;
    border-bottom: 1px solid gray;
    width: 200px;

}
.search-but
{
    border: none;
    cursor: pointer;
}
.search-but img
{
    width: 100%;
}
.left{
    width: 400px;
    margin: 0;
}
.left h1
{
    font-size: 40px;
    font-weight: bolder;
}
.left p
{
    color: rgb(107, 107, 107);
    font-size: 25px;
    padding: 15px 0px;
}
.rost
{
    width: 600px;
    height: 390px;
    background-color: #4D2900;
    margin: 0;
    border-radius: 10px;
    position: relative;
    box-shadow: 0px 3px 10px;
}
.head
{
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}
.rost img
{
    width: 500px;
    position: relative;
    top: -5px;
    left: -40px;
}
.but-3
{
    width: 212px;
    height: 50px;
    background-color: #E16A00;
    border: none;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
}
.but-3:hover{
    transform: translateY(-5px);
    transition: all 1s ease;
    background-color: #fff;
    color: #4D2900;
    border: 2px solid #4D2900;
}
.t-1
{
    font-size: 18px;
    color: #fff;
    width: 300px;
    margin: 0;
    margin-left: 10px;
    padding: 5px 0px;
}
.t-2
{
    font-size: 18px;
    color: #fff;
    width: 310px;
    margin: 0;
    margin-left: 30px;
    padding: 5px 0px;
}
.section-1
{
    width: 90%;
    display: flex;
    margin-top: 70px;
    justify-content: space-between;
    align-items: center;
}
.aside-1
{
    margin: 0;
    font-size: 20px;
}
.aside-2
{
    margin: 0;
    display: flex;
    gap: 20px;
}
.aside-2 p
{
    color: rgb(77, 75, 75);
    font-weight: bold;
}
.aside-2 p:hover
{
    color: orangered;
    cursor: pointer;
}
.section-2
{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 2;
    margin-top: 100px;
    gap: 20px;
}
.box
{
    width: 200px;
    height: 330px;
    box-shadow: 0px 0px 10px;
    padding: 10px;
}
.box img
{
    margin: auto;
    margin-left: 30px;
    width: 128px;
    height: 190px;
}
.p-01
{
    font-weight: bolder;
    font-size: 20px; 
    padding: 10px 0px;
    color: black;
    text-align: center;
}
.p-02
{
    font-weight: bolder;
    font-size: 18px; 
    padding: 0px 0px;
    color: rgb(48, 48, 48);
    text-align: center;
}
.but-4
{
    width: 130px;
    margin-top: 30px;
    height: 40px;
    border: none;
    background-color: #E16A00;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    margin: auto;
    margin-left: 30px;
    margin-top: 20px;
    border-radius: 5px;
}
.but-4:hover
{
    background-color: #fff;
    border: 2px solid #E16A00;
    color: #E16A00;
    cursor: pointer;
    transition: all 1s ease;
}
.center
{
    text-align: center;
    margin-top: 50px;
    font-size: 40px;
    font-weight: bold;
}
.section-3
{
    width: 70%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 3;
}
.boxs
{
    width: 242px;
    height: 76px;
    box-shadow: 0px 0px 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-p
{
    font-size: 20px;
    font-weight: bold;
    
}